<mat-card class="project-card">
    <mat-card-header [routerLink]="project.id">
      <mat-card-title>{{project.name}}</mat-card-title>
    </mat-card-header>
    <img [routerLink]="project.id" *ngIf="img" mat-card-image [src]="img.src" [alt]="img.description">
    <mat-card-content>
      <p>
        {{project.description}}
      </p>
      <mat-chip-list aria-label="Keywords">
        <mat-chip *ngFor="let keyword of project.keywords">{{keyword}}</mat-chip>
      </mat-chip-list>
    </mat-card-content>
    <!--<mat-card-actions>
      <button mat-button>VIEW MORE</button>
    </mat-card-actions>-->
  </mat-card>