<h1 style="display:flex;justify-content: center">GET IN TOUCH</h1>

<br/>
<mat-card>
    <div class="column">
        <mat-icon>phone</mat-icon>
        <p>+61 455 040 723</p>
    </div>
    <div class="column">
        <mat-icon>email</mat-icon>
        <p>bourouis.sabrina@laposte.net</p>
    </div>
    <div class="column">
        <img width="24px" src="../../../assets/GitHub-Mark-Light-64px.png" />
        <p><a href="https://www.github.com/sbourouis">sbourouis</a></p>
    </div>
</mat-card>

<div class="LI-profile-badge"  data-version="v1" data-size="medium" data-locale="en_US" data-type="horizontal" data-theme="dark" data-vanity="sbourouis"><a class="LI-simple-link" href='https://au.linkedin.com/in/sbourouis/en?trk=profile-badge'>Sabrina Bourouis</a></div>
