.experiences
  display: flex
  flex-flow: row wrap

  app-experience
    flex: auto
    width: 350px
    margin: 0 8px 8px 0

  app-video-card-item.sm
    flex: auto
    height: auto
    width: 100%
    margin: 0 0 8px 0
    
.mat-accent
    color: #ffb300

.scroll-area
  max-height: calc(100vh - 155px)

:host
    flex-direction: row
    min-height: 100%
    min-width: 100%
    display: flex
    box-sizing: border-box
    max-height: calc(100vh - 64px)

div
    flex: 1

.left-div
    content: ""
    background: url('../../../assets/Picture.jpg')
    background-size: 100%
    opacity: 0.5
    z-index: -1
    width: 100%
    text-align: center
    justify-content: flex-end
    padding-bottom: 20px
    display: flex
    flex-direction: column
    
.right-div
    margin: 15px

section
    color: #a5a5a5
    overflow: hidden
    text-align: justify
    font-style: italic