<div class="about" [ngClass]="{sm: (isSMLayout$ | async)}">
<div class="left-div">
  <h1>Sabrina Bourouis</h1>
  <span class="mat-accent">Angular Developer</span>
</div>
<div class="right-div">
  <h1>About me</h1>
  
  <perfect-scrollbar
    class="scroll-area"
  >
  <section>
    <span class="mat-accent">25 years old </span>  / <span class="mat-accent">Sydney</span>
    
      <p>Native french Angular developer seeking for a short-term contract in Sydney. <br>
      Very interested in new technologies, I initially followed a general computer science training, then I specialized in web technologies during my 3 years apprenticeship. <br>
      I used those skills in the Research and Development department of IRCAD where I could master Angular and Node.js. <br>
      I’m a very curious person by nature and I am motivated to develop myself in web development. I am open to every project in which I could invest and use my skills.
    </section>

    <mat-divider></mat-divider>

    <h2><mat-icon>school</mat-icon>   Education</h2>
    <div 
      class="experiences" 
      *ngFor="let experience of schoolExperiences$ | async">
      <app-experience-item
        [experience]="experience"
      ></app-experience-item>
    </div>

    <mat-divider></mat-divider>

    <h2><mat-icon>work</mat-icon>   Work experience</h2>
    <div 
      class="experiences" 
      *ngFor="let experience of workExperiences$ | async">
      <app-experience-item
        [experience]="experience"
      ></app-experience-item>
    </div>
  </perfect-scrollbar>

</div>
</div>
