.mat-accent
    color: #ffb300

:host
    flex-direction: row
    min-height: 100%
    min-width: 100%
    display: flex
    box-sizing: border-box
    height: 92vh

div
    flex: 1

.left-div
    content: ""
    background: url('../../../assets/Picture.jpg')
    background-size: 100%
    opacity: 0.5
    z-index: -1
    width: 100%
    text-align: center
    justify-content: flex-end
    padding-bottom: 20px
    display: flex
    flex-direction: column
    
.right-div
    margin: 15px

section
    color: #a5a5a5
    overflow: hidden
    text-align: justify
    font-style: italic