<button style="position:fixed;margin:10px" [routerLink]="['/projects']" mat-button><mat-icon>arrow_back</mat-icon></button>
<div *ngIf="(project$ | async) as project" class="project">
    <div class="title">
        <h2>{{project.name}}</h2>
        <h4>{{project.type | uppercase}} PROJECT</h4>
    </div>
    <perfect-scrollbar
        class="scroll-area"
    >
        <app-experience-item 
            *ngIf="experience$ | async" 
            class="experience" 
            [displayActions]="false"
            [experience]="experience$ | async"></app-experience-item>
        <div class="description">
            <p *ngIf="!project.details?.length">{{project.description}}</p>
            <p *ngIf="project.details?.length">{{project.details}}</p>
            <mat-chip-list *ngIf="project.keywords?.length" aria-label="Keywords">
                <mat-chip *ngFor="let keyword of project.keywords">{{keyword}}</mat-chip>
            </mat-chip-list>
        </div>
        <div class="resources">
            <div *ngIf="links.length" class="links">
                <h4>Related links</h4>
                <ul>
                    <li *ngFor="let link of links">
                        <a target="_blank" [href]="link.src">
                            {{link.name}}
                        </a>
                    </li>
                </ul>
            </div>
            <gallery gallerize *ngIf="items.length" [items]="items"></gallery>
        </div>
    </perfect-scrollbar>
</div>