<div *ngIf="(project$ | async) as project" class="project">
    <div class="title">
        <h2>{{project.name}}</h2>
        <h4>{{project.type | uppercase}} PROJECT</h4>
    </div>
    <perfect-scrollbar
        class="scroll-area"
    >
        <app-experience *ngIf="experience$ | async" class="experience" [experience]="experience$ | async"></app-experience>
        <div class="description">
            <p *ngIf="project.description?.length">{{project.description}}</p>
            <mat-chip-list *ngIf="project.keywords?.length" aria-label="Keywords">
                <mat-chip *ngFor="let keyword of project.keywords">{{keyword}}</mat-chip>
            </mat-chip-list>
        </div>
        <div class="resources">
            <div *ngIf="links.length" class="links">
                <h4>Related links</h4>
                <ul>
                    <li *ngFor="let link of links">
                        <a [href]="link.src">
                            {{link.name}}
                        </a>
                    </li>
                </ul>
            </div>
            <gallery *ngIf="items.length" id="basic-test" fluid [items]="items"></gallery>
        </div>
    </perfect-scrollbar>
</div>